<div class="no-questions">
    <img src="/images/no-questions.svg" alt="" />
    <h2>Nenhuma pergunta por aqui...</h2>
    <p>
      Faça sua primeira pergunta e envie o código dessa sala para outras
      pessoas!
    </p>
  </div>